<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order confirmation</title>
</head>
<body>

<div>

<h1> Order on its way! </h1>
<img src="/public/order-form/assets/bottle.gif" >

</div>

    
</body>
</html>